<h1>Content of "<%= @site.title %>" </h1>

<p>Title <%= @site.title %></p>

<p>Description <%= @site.description %></p>

<p>Image <%= @site.imgpath %></p>

<p>Category <%= @site.category %></p>

<%= link_to "Back to Main Page", site_path%>

